<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		工作坊活動公告 // 1.自動擷取已經啟動的landing page作為案例 2.會員可以在每個案例中做討論 3.
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->