<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		<%= link_to '建立landing page', admin_page_mode_path, remote: true %>
		Step1: 選擇模式
		Step2: build page
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->