<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		mvp root
		
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->