<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		<% @feedbacks.each do |f| %>
			<%= @abc %>
		  <%= f.description %><hr>
		<% end %>
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->