<div class="modal fade in" id="work" role="dialog" aria-labelledby="signupLabel" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="signupLabel">zzZ</h4>
            </div>
            <div class="modal-body">
                站長偷懶中...
            </div>
        </div>
    </div>
</div>