<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		<%= link_to 'new', new_page_path %>
		- 一句話形容自己(產品)
    - e.g.成就更好的自己(產品)
    - e.g.吃對了，就對了
		- 挑3~5個重點簡述(簡單扼要為主)
		- 詳述運作原理、最好可以有是意圖或操作影片的介紹
		- 見證奇蹟(用戶案例)
		- 訊號點->call to action
		- 輔助作用...讓人更安心點擊你的call to action(e.g.免費註冊、無效免費、7天鑑賞、無效退費、買貴退差....等, 很多應該很常看到)
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->