<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		<%= link_to 'new', new_admin_post_path %><hr>
		<% @posts.each do |p| %>
			<%= p.title %>
		<% end %>
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->