<!-- Main content -->
<div class="content-wrapper">
	<!-- Content area -->
	<div class="content">
		<!-- Dashboard content -->
		<%= bootstrap_form_for @feedback do |f| %>
		  <%= f.text_field :ftype %>
		  <%= f.text_field :description %>
		  <%= f.submit '送出', class: 'btn btn-success' %>
		<% end %>
		<!-- /dashboard content -->
	</div>
	<!-- /content area -->
</div>
<!-- /main content -->