<!-- Main sidebar --> 
<div class="sidebar sidebar-main sidebar-fixed">
<div class="sidebar-content">

	<!-- User menu -->
	<div class="sidebar-user">
		<div class="category-content">
			<div class="media">
				<a href="#" class="media-left"><img src="/assets/placeholder.jpg" class="img-circle img-sm" alt=""></a>
				<div class="media-body">
					<span class="media-heading text-semibold">User</span>
					<div class="text-size-mini text-muted">
						貼文管理
					</div>
				</div>

				<div class="media-right media-middle">
					<ul class="icons-list">
						<li>
							<a href="#"><i class="icon-pencil5"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /user menu -->

	<!-- Main navigation -->
	<div class="sidebar-category sidebar-category-visible">
		<div class="category-content no-padding">
			<ul class="navigation navigation-main navigation-accordion">

				<!-- Main -->
				<li class="navigation-header"><span>GH工具</span> <i class="icon-menu" title="Main pages"></i></li>
				<li>
					<a href="#"><i class="icon-spinner3 spinner"></i> <span>營銷分析</span></a>
					<ul class="hidden-ul" style="display: none;">
						<li><a href="#">營銷分析</a></li>
						<li><a href="#">用戶分析</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="icon-spinner3 spinner"></i> <span>初始參數</span></a>
					<ul class="hidden-ul" style="display: none;">								
						<li><a href="#">基本設定</a></li>
						<!-- 預設首頁/fb 像素/mixpanel/title/meta/og... -->
						<li><a href="#">第三方服務</a></li>
						<!-- fbmsg/line/plug-in物流設定/ATM資訊 -->
						<li><a href="#">On Boarding</a></li>
						<!-- 自動化排程 -->
					</ul>
				</li>
				<li>
					<a href="#"><i class="icon-spinner3 spinner"></i> <span>GH工具</span></a>
					<ul class="hidden-ul" style="display: none;">
						<li><%= link_to '著陸頁', admin_pages_path	%></li>
						<li><a href="#">聯盟行銷</a></li>
					</ul>
				</li>
				<li class="navigation-header"><span>站務管理</span> <i class="icon-menu" title="Main pages"></i></li>
				<li><a href="#"><i class="icon-spinner3 spinner"></i> <span>活動公告</span></a></li>
				<li><a href="#"><i class="icon-spinner3 spinner"></i> <span>回饋管理</span></a></li>
				<li>
					<%= link_to posts_path do %>
						<i class="icon-home4"></i>例會紀錄<span></span>
					<% end %>
				</li>
				<li>
					<%= link_to topics_path do %>
						<i class="icon-home4"></i> <span>GrowthHack</span>
					<% end %>
				</li>
				<li><%= link_to workshops_path do %><i class="icon-spinner3 spinner"></i> <span>實務工作坊</span><% end %></li>
			</ul>
		</div>
	</div>
	<!-- /main navigation -->

</div>
</div>
<!-- /main sidebar